@media (max-width: 1200px)
    .promo
        .container
            width: 930px
    .benefits
        .container
            width: 930px

@media (max-width: 991px)
    .promo
        .container
            width: 720px
    .benefits
        .container
            width: 720px
        &__wrapper
            flex-wrap: wrap
            justify-content: space-around
        &__block
            margin-bottom: 60px

@media (max-width: 767px)
    .promo
        .container
            width: 540px 
        .header
            flex-wrap: wrap
            a
                order: 1
            &__official
                order: 3
                display: none
            &__contacts
                order: 2
                flex-direction: column-reverse
    .benefits
        .container
            width: 540px
            
@media (max-width: 575px)
    .promo
        min-height: 499px
        padding: 21px 0 21px 0
        .container
            width: 300px
            .header
                &__logo
                    width: 50%
                &__phone   
                    font-size: 12px
                button
                    width: 136px
        &__wrapper
            align-items: center
            margin-top: 49px
        &__header
            font-size: 24px
            line-height: 24px
        &__subheader
            font-size: 19px
            line-height: 19px
            text-align: center
        &__icons
            margin-top: 49px
            width: 289px
        &__icon
            font-size: 12px
        &__link
            margin-top: 12px
            font-size: 14px
            a
                font-size: 14px
        .button
            &_main
                width: 265px    
                margin-top: 49px
                    
    .benefits
        padding: 40px 0 30px 0
        .container
            width: 310px
        &__header
            font-size: 19px
            line-height: 19px
        &__wrapper
            margin-top: 38px
        &__block
            margin-bottom: 21px
        &__descr
            margin-top: 15px    
        &__text
            margin-top: 7px 


    


