@import 'base/_mixins'
@import 'base/variables'
@import "media"
@import "blocks/promo"   
@import "blocks/header"
@import "blocks/buttons" 

*
    font-family: 'Museo Sans Cyrl', sans-serif
    margin: 0


.container
    display: block
    margin: 0 auto
    width: 940px
